.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(56, 54, 54, 0.5);
    border-radius: 6px;
    background-color: #bbbec91f;
    padding: 15px 10px 15px 25px;
    margin-top: 10px;
}
.todo__item span {
    color: #000000;
}
.todo__item button {
    margin-left: 10px;
}

.todo__item_done {
    text-decoration: line-through;
}

.todo__item_important {
    font-weight:700;


}